---
title: Non-mercator projection
description: Using non mercator tiles with <code>L.esri.Layers.TiledMapLayer</code> with the <a href="https://github.com/kartena/Proj4Leaflet">Proj4Leaflet</a> plugin. <br><br> <strong>This demo should be implemented at your own risk. Esri Leaflet only supports tiles that have been published in Web Mercator Auxiliary Sphere tiling scheme (WKID 102100/3857) at the default scales and resolutions. Strong knowledge of projections, spatial references and tiling schemes is required for this.</strong>
layout: example.hbs
---

<script src="//cdnjs.cloudflare.com/ajax/libs/proj4js/2.0.0/proj4.js"></script>
<script src="https://cdn.rawgit.com/kartena/Proj4Leaflet/0.7.0/src/proj4leaflet.js"></script>

<div id="map"></div>

<script>
  /*
    create new Proj4Leaflet CRS:
    1. Proj4 and WKT definitions can be found at sites like http://epsg.io
    2. appropriate values to supply to the resolution and origin constructor options can be found in the ArcGIS Server RESTful tile server endpoint (ex: http://mapserv.utah.gov/arcgis/rest/services/BaseMaps/Terrain/MapServer)
  */
   var crs = new L.Proj.CRS('EPSG:2154', '+proj=lcc +lat_1=49 +lat_2=44 +lat_0=46.5 +lon_0=3 +x_0=700000 +y_0=6600000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs ', {
    origin: [579000.0, 7034000.0],
    resolutions: [
      198.43789687579377,
      171.97951062568794,
      145.5211243755821,
      119.06273812547626,
      92.60435187537043,
      66.1459656252646,
      46.30217593768521,
      26.458386250105836,
      19.843789687579378,
      13.229193125052918,
      9.921894843789689,
      6.614596562526459,
      4.6302175937685215,
      2.6458386250105836,
      1.9843789687579376,
	  1.3229193125052918,
	  0.6614596562526459,
	  0.26458386250105836
    ]
  });

  var map = L.map('map', {
    crs: crs
  }).setView([646538.24, 6975916.48], 5);

  /*
    The min/maxZoom values provided should match the actual cache thats been published. This information can be retrieved from the service endpoint directly.
  */
  L.esri.tiledMapLayer({
    url: 'http://geo.somme.fr/arcgis/rest/services/ORTHO_2013_TUILAGE/MapServer',
    maxZoom: 17,
    minZoom: 0,
    continuousWorld: true,
    attribution: 'CD80'
  }).addTo(map);
</script>
